.bg-dark {
    background-color: #343a40 !important;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

/* Styles de la vidéo */
.video-container {
    position: relative; /* Positionne par rapport au composant parent */
    width: 100%;
    height: 100vh; /*hauteur de la video en % */
    overflow: hidden;
}


/* Vidéo */
.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplir l'espace sans déformation */
}

/* Overlay pour le texte */
.overlay {
    position: absolute;
    top: 80%;
    right: 10%;
    transform: translate(0, -50%); /* Centrer verticalement par rapport à l'overlay */
    color: white;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 10px;
}


